
.country-box{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: space-between;
}

.world-map {
    max-width: 1000px;
}

.country-flag {
    max-width: 100px;
    margin-bottom: 20px;
}

.list-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: 100%;
}
/*
#africa {
    color: blue;
}
#americas {
    color: green;
}
#europe {
    color: yellow;
}
#asia {
    color: red;
}
#oceania {
    color: purple;
}
#polar {
    color: orange;
}
#unknown {

}
 */

/*part 2*/

.article-image {
    max-width: 100px;

}

.country-list {
    display: flex;
    flex-direction: column;
    margin: 50px;
    list-style: none;
    width: 400px;

}